body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

p.flash {
	background-color: #aac;
	color: #fff;
	padding: 4px;
}

ul {
	list-style: none;
	padding-left: 0;
}